/* ^ Global Style 
   ~ ----------------------------- */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --navbar-bg-color: #fff;
  --logo-color: #212121;
  --menu-list-color: #7f7f7f;
  --mode-icons: #212529;
  --main-bg-color: #fff;
  --sub-bg-color: #eee;
  --highlight-color: #e51414;
  --play-icon-bg: #fff;
  --inner-color: #fff;
  --svg-mode: url(/Assignment5/images/team-shape.svg);
  --form-input-bg: hsl(0, 0%, 96%);
  --form-icon-color: hsl(0, 0%, 100%);
  --details-header-color: #7f7f7f;
  --target-color: #000;
  --nav-border-color: #f1f1f1;
}

:root:has(.mode:checked) {
  --navbar-bg-color: hsl(0, 0%, 9%);
  --logo-color: #fff;
  --menu-list-color: #9f9f9f;
  --mode-icons: #fff;
  --main-bg-color: #202020;
  --sub-bg-color: #252525;
  --highlight-color: #c1731f;
  --play-icon-bg: #171717;
  --inner-color: hsl(0, 0%, 9%);
  --svg-mode: url(/Assignment5/images/team-shape-dark.svg);
  --form-input-bg: hsl(0, 0%, 5%);
  --form-icon-color: hsl(0, 0%, 9%);
  --details-header-color: #adadad;
  --target-color: #fff;
  --nav-border-color: hsl(0, 0%, 15%);
}

a,
a:visited,
a:active {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 18.72px;
  font-weight: bold;
}

img {
  width: 100%;
  vertical-align: middle;
}

/* Adjust the display for all sections */
.section {
  display: flex;
}

/* Style the all sections title */
.section-title {
  width: 100%;
  font-family: "Amatic SC", sans-serif;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 25px;
}

.section-title h5 {
  color: var(--menu-list-color);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.section-title p {
  color: var(--logo-color);
}

.section-title p span {
  color: var(--highlight-color);
}

/* Adjust a container for all the sub containers */
.container {
  width: 100%;
  margin-block: 50px;
  margin-inline: auto;
  padding: 40px 15px;
}

/* ^ The Navbar style 
   ~ ----------------------------- */

#navbar {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: var(--navbar-bg-color);
  box-shadow: 0px 0px 14px 0px #0000001b;
  z-index: 9999;
}

.navbar-container {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-inline: auto;
  margin-block: 0;
  padding: 25px 5px;
}

.logo {
  font-size: 30px;
  color: var(--logo-color);
}

.logo::after {
  content: ".";
  color: var(--highlight-color);
}

.color-mode {
  color: var(--mode-icons);
  font-size: 25px;
  margin-left: auto;
  margin-right: 20px;
}

.color-mode label {
  cursor: pointer;
}

.menu {
  color: var(--mode-icons);
  font-size: 25px;
  margin-right: 20px;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  --block-gap: 15px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 350px;
  color: var(--menu-list-color);
  font-size: 17px;
  font-weight: 600;
  border-left: 2px solid var(--nav-border-color);
  transform: translateX(100%);
  z-index: 999;
  transition: transform 0.4s;
  background-color: var(--navbar-bg-color);
}

#navbar-links .link a {
  display: inline-block;
  position: relative;
  color: var(--menu-list-color);
  padding: var(--block-gap) 10px;
  transition: color 0.4s;
}

.close-icon {
  align-self: end;
  font-size: 22px;
  padding: 10px 15px 5px;
}

#navbar-links .close-icon a {
  transition: color 0.4s;
}

#navbar-links li a:hover {
  color: var(--target-color);
}

#navbar-links:target {
  transform: translateX(0);
}

#navbar:has(#navbar-links:target) {
  height: 100%;
  background-color: hsl(0, 0%, 100%, 0.7);
}

/*  ^Header Style 
   ~ ----------------------------- */

#home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--sub-bg-color);
}

#header-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-top: 95px;
  margin-bottom: 0;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.header-content h2 {
  font-family: "Amatic SC", sans-serif;
  font-size: 65px;
  color: #37373f;
}

.header-content p {
  color: #4f4f5a;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin-block: 20px;
  line-height: 1.6;
}

.header-image img {
  filter: drop-shadow(4px 4px 9px #000a);
}

.header-image img:hover {
  animation: shaking 1s infinite;
}

/* The header image animation */
@keyframes shaking {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(0deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(-1deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.header-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header-links button {
  color: var(--form-icon-color);
  background-color: var(--highlight-color);
  border: 2px solid transparent;
  border-radius: 100vh;
  padding: 10px 25px;
  font-family: inherit;
  font-size: 15px;
  cursor: pointer;
}

.header-links .watch-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: all 0.4s;
  color: var(--logo-color);
}

.play-icon {
  background-image: linear-gradient(
    to right,
    var(--highlight-color) 0 50%,
    transparent 50% 100%
  );
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-right: 5px;
  position: relative;
  z-index: 99;
  color: inherit;
}

.play-icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  content: "";
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--play-icon-bg);
}

.play-icon i {
  z-index: 9;
}

.watch-link:hover {
  color: var(--highlight-color);
}

/* ^ The First section of the page style 
   ~ ----------------------------- */

.chefs-details {
  display: flex;
  flex-wrap: wrap;
  padding-block: 20px;
  --gap: 30px;
  gap: var(--gap);
}

.chef-box {
  position: relative;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s;
}

.chef-box img {
  border-radius: 8px;
}
.chef-box:hover {
  transform: scale(1.07);
}

.social-icons {
  position: absolute;
  top: 30px;
  right: -50px;
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff4d;
  transition: right 0.4s 0.4s;
}

.social-icons i {
  font-size: 18px;
  padding: 10px 5px;
  color: #37373f66;
  transition: color 0.4s;
}

.chef-box:hover .social-icons {
  right: 10px;
}

.social-icons i:hover {
  color: #37373fe6;
}

.chef-image {
  position: relative;
  width: 100%;
}

.chef-image::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  background-image: var(--svg-mode);
  background-repeat: repeat-x;
  width: 100%;
  height: 60px;
}

.inner-text {
  padding: 10px 25px 25px;
  background-color: var(--inner-color);
}

.inner-text h3 {
  color: var(--logo-color);
}

.inner-text h6 {
  color: var(--menu-list-color);
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0 10px;
}

.inner-text p {
  color: var(--menu-list-color);
  font-size: 15px;
  font-style: italic;
}

/* ^ The Second section of the page style 
   ~ ----------------------------- */

.second-section {
  background-color: var(--sub-bg-color);
}

#gallery-section {
  padding-inline: 5px;
}

.gallery-pics {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  --gap: 20px;
  gap: var(--gap);
}

.pics {
  position: relative;
  border: 4px solid #fff;
  overflow: hidden;
}

.overlay {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #00000096;
  transition: top 0.4s;
  padding: 15px;
}

.overlay h3 {
  color: #fff;
  font-size: 24px;
}

.overlay p {
  color: #ddd;
  text-align: center;
}

.pics:hover .overlay {
  top: 0;
}

.pics img {
  transition: transform 0.4s;
}

.pics:hover img {
  transform: scale(1.1);
}

/* ^ The Third section of the page style 
   ~ ----------------------------- */

#contact-section {
  padding-inline: 5px;
}

iframe {
  width: 100%;
  border: none;
}

.contact-details {
  display: flex;
  flex-direction: column;
  --gap: 15px;
  gap: var(--gap);
  margin-block: 25px;
}

.details {
  display: flex;
  align-items: center;
  padding: 25px;
  background-color: var(--form-input-bg);
  color: var(--logo-color);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  background-color: var(--highlight-color);
  border-radius: 50%;
  margin-right: 10px;
}

.icon i {
  color: var(--form-icon-color);
  font-size: 18px;
}

.details h3 {
  color: var(--details-header-color);
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.contact-form {
  display: flex;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  --gap: 15px;
  gap: var(--gap);
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 30px #00000014;
}

.grouped-input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  --gap: 15px;
  gap: var(--gap);
  width: 100%;
}

.input-text {
  padding: 15px;
  font-family: inherit;
  line-height: 1.5;
  border: 2px solid hsl(0, calc(0% + 10%), calc(100% - 10%));
  color: #212529;
  transition: border-color 0.4s;
}

textarea {
  min-height: 150px;
  max-height: 300px;
  resize: vertical;
  transition: border-color 0.4s;
}

.submit-btn {
  width: fit-content;
  background-color: var(--highlight-color);
  color: hsl(0, 0%, 100%);
  font-family: inherit;
  font-size: 15px;
  align-self: center;
  border: 4px solid transparent;
  border-radius: 100vh;
  margin-top: 25px;
  padding: 12px 40px;
  cursor: pointer;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--highlight-color);
  outline: none;
}

/* ^ The footer section of the page style 
   ~ ----------------------------- */
#footer {
  background-image: linear-gradient(#0009, #0009),
    url(../images/textured-metal-background.jpg);
  color: #fff;
  box-shadow: 0px -1px 5px #0007;
  background-size: contain;
}

#footer-section {
  display: flex;
  flex-wrap: wrap;
  --gap: 20px;
  gap: var(--gap);
  color: #fff;
  margin-block: 0;
  padding: 40px 5px;
}

.about {
  order: 0;
}

.subscribe-container {
  order: 1;
}

.get-in {
  order: 2;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.logo-container img {
  width: 40px;
  height: 40px;
}

#footer .logo {
  color: #fff;
}

.about p {
  margin-block: 10px;
}

.about h3 {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 2px solid #ddd6;
}

.footer-social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 24px;
  padding: 10px;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
}

.subscribe-container p {
  margin-top: 10px;
}

.sub-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block: 20px;
}

.sub-input input {
  flex-grow: 1;
  padding: 10px;
  border: 2px solid transparent;
}

.sub-btn {
  min-width: 6.875rem;
  color: var(--form-icon-color);
  background-color: var(--highlight-color);
  border: 2px solid transparent;
  padding: 10px;
  font-size: 15px;
}

.quick-links-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  --gap: 20px;
  column-gap: var(--gap);
}

.quick-links-list li {
  position: relative;
  width: calc(calc(100% - var(--gap)) / 2);
  padding: 5px;
  transition: all 0.4s;
}

.quick-links-list li:hover {
  transform: translate(10px);
  background-color: #222;
}

.quick-links-list a::before {
  content: "";
  display: inline-block;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-radius: 3px;
  height: 10px;
  width: 10px;
  margin-right: 12px;
  transform: rotate(-45deg);
}

.get-in h3 {
  margin-bottom: 10px;
}

.get-in-content li a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.get-in-content li i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: var(--highlight-color);
  font-size: 22px;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
  border-left: 2px solid #eee;
  box-shadow: 0px 0px 21px 0px #0003 inset;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
  border-radius: 100vh;
}

::selection {
  background-color: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness),
    0.7
  );
  opacity: 0.2;
  color: var(--color-light);
}

.color-mode .light-mode {
  display: none;
}

:root:has(.mode:checked) .color-mode .dark-mode {
  display: none;
}

:root:has(.mode:checked) .color-mode .light-mode {
  display: block;
}

:root:has(.mode:checked) body {
  background-color: var(--main-bg-color);
}

:root:has(.mode:checked) #navbar {
  background-color: hsl(0, 0%, 9%);
}

:root:has(.mode:checked) #home h2 {
  color: #fff;
}

:root:has(.mode:checked) #home p {
  color: var(--menu-list-color);
}

:root:has(.mode:checked) .contact-form {
  background-color: var(--navbar-bg-color);
}

:root:has(.mode:checked) .contact-form input {
  border: 2px solid hsl(0, 10%, -1%);
}

:root:has(.mode:checked) .contact-form textarea {
  border: 2px solid hsl(0, 10%, -1%);
}
