@media (min-width: 577px) {
  .sm-100 {
    width: 100%;
  }
  .sm-50 {
    width: 50%;
  }
  .sm-33 {
    width: 33.3333333333333334%;
  }
  .sm-25 {
    width: 25%;
  }
  .sm-20 {
    width: 20%;
  }

  #page-container .container {
    max-width: 540px;
  }
  
  .sub-input {
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
  }
}





@media (min-width: 769px) {
  .m-100 {
    width: 100%;
  }

  .m-50 {
    width: calc(calc(100% - var(--gap)) / 2);
  }

  .m-40 {
    width: 40%;
  }

  .m-33 {
    width: calc(calc(100% - var(--gap) * 2) / 3);
  }

  .m-25 {
    width: 25%;
  }

  .m-20 {
    width: 20%;
  }

  #page-container .container {
    max-width: 720px;
  }

  #gallery-section .gallery-pics {
    height: 1405px;
  }

  .contact-details {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #footer-section .about,
  .get-in {
    order: 1;
  }

  #footer-section .subscribe-container {
    order: 2;
  }

  #footer-section .quick-links {
    order: 3;
  }
}







@media (min-width: 993px) {
  .l-100 {
    width: 100%;
  }

  .l-50 {
    width: calc(calc(100% - var(--gap)) / 2);
  }

  .l-40 {
    width: 40%;
  }

  .l-33 {
    width: calc(calc(100% - var(--gap) * 2) / 3);
  }

  .l-25 {
    width: 25%;
  }

  .l-20 {
    width: 20%;
  }

  #chefs-section,
  #header-container {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  .header-content {
    align-items: flex-start;
  }

  .header-content p {
    text-align: left;
  }

  .header-links {
    justify-content: flex-start;
  }

  .header-links button {
    border-radius: 0px 100vh 100vh;
  }

  #page-container .container {
    max-width: 960px;
  }

  #gallery-section .gallery-pics {
    height: 845px;
  }

  .grouped-input{
    flex-direction: row;
  }
}






@media (min-width: 1201px) {
  .xl-100 {
    width: 100%;
  }

  .xl-50 {
    width: calc(calc(100% - var(--gap)) / 2);
  }

  .xl-40 {
    width: 40%;
  }

  .xl-33 {
    width: calc(calc(100% - var(--gap) * 2) / 3);
  }

  .xl-25 {
    width: 25%;
  }

  .xl-20 {
    width: 20%;
  }

  #header {
    min-height: 100vh;
  }

  #chefs-section,
  #header-container {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline: auto;
  }

  #page-container .container {
    max-width: 1140px;
  }

  .header-links button {
    border-radius: 0px 100vh 100vh;
  }

  #gallery-section .gallery-pics {
    height: 1000px;
  }

  .grouped-input{
    flex-direction: row;
  }

  #footer-section .about {
    width: calc(calc(100% - var(--gap) * 2) / 4);
    order: 0;
  }

  #footer-section .subscribe-container {
    width: calc(calc(100% - var(--gap) * 2) / 2);
    order: 1;
  }

  #footer-section .get-in {
    width: calc(calc(100% - var(--gap) * 2) / 4);
    order: 2;
  }

  /* The menu list in large screens */
  #navbar-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    box-shadow: none;
    border: none;
    color: #7f7f90;
    font-size: 17px;
    font-weight: 600;
    --block-gap: 5px;
    --inline-gap: 15px;
    transform: translateX(0);
  }
  
  #navbar-links .link a{
    padding: var(--block-gap) var(--inline-gap);
  }

  .menu{
    display: none;
  }
  
  .night-mode{
    margin: 0;
  }
  
  #navbar-links .close-icon{
    display: none;
  }

  #navbar-links .link a::after{
    content: "";
    position: absolute;
    left: var(--inline-gap);
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #e51414;
    transition: width 0.4s;
  }

  #navbar-links .link a:hover::after{
    width: calc(calc(100% - var(--inline-gap) * 2) );
  }

  /* The menu style in the large screens */
  body:has(.header:target) .link a[href='#home']{
    color: #000;
  }

  body:has(.header:target) .link a[href='#home']::after{
    width: calc(calc(100% - var(--inline-gap) * 2) );
  }

  body:has(.first-section:target) .link a[href='#chefs']{
    color: #000;
  }

  body:has(.first-section:target) .link a[href='#chefs']::after{
    width: calc(calc(100% - var(--inline-gap) * 2) );
  }

  body:has(.second-section:target) .link a[href='#gallery']{
    color: #000;
  }

  body:has(.second-section:target) .link a[href='#gallery']::after{
    width: calc(calc(100% - var(--inline-gap) * 2) );
  }

  body:has(.third-section:target) .link a[href='#contact']{
    color: #000;
  }

  body:has(.third-section:target) .link a[href='#contact']::after{
    width: calc(calc(100% - var(--inline-gap) * 2) );
  }

}




@media (min-width: 1401px) {
  .xxl-100 {
    width: 100%;
  }

  .xxl-50 {
    width: calc(calc(100% - var(--gap)) / 2);
  }

  .xxl-40 {
    width: 40%;
  }

  .xxl-33 {
    width: calc(calc(100% - var(--gap) * 2) / 3);
  }

  .xxl-25 {
    width: 25%;
  }

  .xxl-20 {
    width: 20%;
  }

  .header {
    min-height: 100vh;
  }

  #chefs-section,
  #header-container {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline: auto;
  }

  .header-links button {
    border-radius: 0px 100vh 100vh;
  }

  #page-container .container {
    max-width: 1320px;
  }

  #gallery-section .gallery-pics {
    height: 1165px;
  }

  .grouped-input{
    flex-direction: row;
  }

  #footer-section .get-in {
    width: calc(calc(100% - var(--gap) * 2) / 4);
    order: 2;
  }

  /* The menu list in large screens */
  #navbar-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    box-shadow: none;
    border: none;
    color: #7f7f90;
    font-size: 17px;
    font-weight: 600;
    --block-gap: 5px;
    --inline-gap: 15px;
    transform: translateX(0);
    width: auto;
  }
  
  #navbar-links .link a{
    padding: var(--block-gap) var(--inline-gap);
  }

  .menu{
    display: none;
  }
  
  .night-mode{
    margin: 0;
  }
  
  #navbar-links .close-icon{
    display: none;
  }

  /* The menu style in the large screens */
  body:has(.header:target) .link a[href='#home']{
    color: #000;
  }

  body:has(.header:target) .link a[href='#home']::after{
    width: calc(calc(100% - var(--inline-gap) * 2) );
  }

  body:has(.first-section:target) .link a[href='#chefs']{
    color: #000;
  }

  body:has(.first-section:target) .link a[href='#chefs']::after{
    width: calc(calc(100% - var(--inline-gap) * 2) );
  }

  body:has(.second-section:target) .link a[href='#gallery']{
    color: #000;
  }

  body:has(.second-section:target) .link a[href='#gallery']::after{
    width: calc(calc(100% - var(--inline-gap) * 2) );
  }

  body:has(.third-section:target) .link a[href='#contact']{
    color: #000;
  }

  body:has(.third-section:target) .link a[href='#contact']::after{
    width: calc(calc(100% - var(--inline-gap) * 2) );
  }
}



@media (max-width: 992px) {
  .gallery-pics .pizza {
    order: 1;
  }

  .gallery-pics .burger {
    order: 2;
  }

  .gallery-pics .pizza-slices {
    order: 3;
  }

  .gallery-pics .omelette {
    order: 4;
  }

  .gallery-pics .steak {
    order: 5;
  }

  .gallery-pics .fried {
    order: 6;
  }

  .gallery-pics .kofta {
    order: 7;
  }
}
