

@media (min-width: 576px){
    .sm-100{
        width: 100%;
    }
    .sm-50{
        width: 50%;
    }
    .sm-33{
        width: 33.3333333333333334%;
    }
    .sm-25{
        width: 25%;
    }
    .sm-20{
        width: 20%;
    }

    #header-container,#chefs-section, #header-container,#gallery-section, #contact-section{
        max-width: 540px;
    }

    .container{
        max-width: 540px;
    }

}


@media (min-width: 769px){

    .m-100{
        width: 100%;
    }

    .m-50{
        width: calc(calc(100% - var(--gap)) / 2);
    }

    .m-40{
        width: 40%;
    }

    .m-33-30g{
        width: calc(calc(100% - var(--gap) *2) / 3);
    }

    .m-25{
        width: 25%;
    }
    
    .m-20{
        width: 20%;
    }

    #header-container,#chefs-section, #header-container, #gallery-section, #contact-section{
        max-width: 720px;
    }

    #gallery-section .gallery-pics{
        height: 1405px;
    }

    .contact-details{
        flex-direction: row;
        flex-wrap: wrap;
        
    }

}


@media (min-width: 993px){
    .l-100{
        width: 100%;
    }
    
    .l-50{
        width: calc(calc(100% - var(--gap)) / 2);

    }

    .l-40{
        width: 40%;
    }

    .l-33{
        width: calc(calc(100% - var(--gap) * 2) / 3);

    }
    
    .l-25{
        width: 25%;
    }

    .l-20{
        width: 20%;
    }

    #chefs-section, #header-container{
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }

    .header-content{
        align-items: flex-start;
    }

    .header-content p {
        text-align: left;
    }


    .header-links{
        justify-content: flex-start;
    }

    .header-links button{
        border-radius: 0px 100vh 100vh;
    }
    

    #header-container,#chefs-section, #header-container, #gallery-section, #contact-section{
        max-width: 960px;
    }

    #gallery-section .gallery-pics{
        height: 845px;
    }

    .grouped-input{
        flex-direction: row;
    }
}



@media (min-width: 1201px){
    .xl-100{
        width: 100%;
        
    }

    .xl-50{
        width: calc(calc(100% - var(--gap)) / 2);
    }

    .xl-40{
        width: 40%;
    }

    .xl-33{
        width: calc(calc(100% - var(--gap) * 2) / 3);
    }

    .xl-25{
        width: 25%;
    }

    .xl-20{
        width: 20%;
    }

    #header{
        min-height: 100vh;
    }

    #chefs-section, #header-container{
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-inline: auto;
    }
    
    #header-container,#chefs-section, #header-container, #gallery-section, #contact-section{
        max-width: 1140px;
    }

    .header-links button{
        border-radius: 0px 100vh 100vh;
    }

    #gallery-section .gallery-pics{
        height: 1000px;
    }

    .grouped-input{
        flex-direction: row;
    }
}



@media (min-width: 1401px){
    .xxl-100{
        width: 100%; 
    }



    .xxl-50{
        width: calc(calc(100% - var(--gap)) / 2);
    }

    .xxl-40{
        width: 40%;
    }

    .xxl-33{
        width: calc(calc(100% - var(--gap) * 2) / 3);
    }

    .xxl-25{
        width: 25%;
    }

    .xxl-20{
        width: 20%;
    }

    #header{
        min-height: 100vh;
    }

    #chefs-section, #header-container{
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-inline: auto;
    }
    
    .header-links button{
        border-radius: 0px 100vh 100vh;
    }

    #header-container,#chefs-section, #header-container, #gallery-section, #contact-section{
        max-width: 1320px;
    }

    #gallery-section .gallery-pics{
        height: 1165px;
    }
   
}



@media (max-width: 992px){
    .gallery-pics .pizza{
        order: 1;
    }
    
    .gallery-pics .burger{
        order: 2;
    }
    
    .gallery-pics .pizza-slices{
        order: 3;
    }
    
    .gallery-pics .omelette{
        order: 4;
    }
    
    .gallery-pics .steak{
        order: 5;
    }
    
    .gallery-pics .fried{
        order: 6;
    }
    
    .gallery-pics .kofta{
        order: 7;
    }
}
